.row
  .large-4.columns
    %h3.border-bottom Contact Us
    %p T&S Mobile Hearing Express
    %address 
      %p 
        1279 Patriot St
        %br Billings, MT 59715
      %ul 
        %li T: 406.672.6696
        %li F: 406.259.0336
        %li C: 406.670.6696
  .large-4.columns
    %h3.border-bottom Contact Form
    = form_for @message, :url => contact_path do |form|
      %fieldset.fields
        .field
          = form.label :name
          = form.text_field :name
        .field
          = form.label :email
          = form.text_field :email
        .field
          = form.label :subject
          = form.text_field :subject
        .field
          = form.label :body
          = form.text_area :body
      %fieldset.actions
        = form.submit "Send", class: "submit"
  .large-4.columns
    %h3.border-bottom Service Area
    = image_tag "service-area-map.png"
.row
  %p.small 
    Copyright &copy; 2005 -
    = Time.now.year
    T&amp;S Mobile Hearing Express. All Rights Reserved.