- content_for(:title, 'Welcome')
.wrapper.banner
  .row
    = render :partial => "shared/banner"
.wrapper.section
  .row
    .large-12
      %h3 T&amp;S Mobile Hearing Express offers on-site audiometric (hearing) tests to assist your company in complying with the requirements of Hearing Conservation programs as required in CFR 29 1910.95 and CFR 30 section 62.
    .row
      .large-4.columns
        %p 
          Our services present a cost savings to your company between 30 to 50% by administering on-site testing as opposed to sending employees to an off-site facility. Reduction in "lost time" and liability for travel, combined with the ability to conduct four tests simultaneously &ndash; a rate of twelve employees per hour, makes on-site hearing tests an enormously economical, safe, and wise choice for your company.
      .large-4.columns 
        = image_tag "Tim-Full-Body.png", :class => "alignleft" 
        %p
          Tim Doerr, President and Owner of T&amp;S Mobile Hearing Express, has been a certified Hearing Conservationist since 1971 and has operated a mobile hearing unit for the past eleven years. Mr. Doerr also has 24 years of experience in the U.S. Air Force in the field of Occupational / Industrial Medicine.
      .large-4.columns 
        %p
          Dr. Gene Bukowski is our Professional Reviewer. He has 29 years of experience In Industrial/Occupational hearing. Additionally, Dr. Bukowski is a certified Hearing Conservation Instructor and Credentials Hearing Conservationist in the state of Montana. All hearing tests and medical histories are reviewed per OSHA/MSHA mandates. Dr. Bukowski will make recommendations if follow-up evaluations are required.
    .row
      .large-4.columns 
        = image_tag "earscan-estram_300-150x150.jpg", :class => "alignleft article-image" 
        %p
          Our mobile unit is equipped with state-of-the-art testing machines. Ambient noise levels in the unit are monitored continuously with a bio-acoustic simulator. The simulator insures compliance with OSHA/MSHA referencing noise levels inside mobile testing units. All equipment meets or exceeds those requirements and specifications of OSHA/MSHA regarding Hearing Conservation programs.
      .large-4.columns 
        = image_tag "testing-booths-150x150.png", :class => "alignleft article-image" 
        %p
          Prior to testing, employees will be required to fill out a brief medical history pertaining to their hearing. This information is loaded into the database for Hearing Conservation and is used if a change or loss of hearing has been identified.
      .large-4.columns 
        = image_tag "Documents.png", :class => "alignleft article-image" 
        %p
          Employees are instructed as to the purposes and procedures of audiometric testing. A copy of their results will be provided immediately after testing. Hearing Conservation Training is provided to you and your employees at no additional charge.
    .row.border-bottom
      .large-12.columns
        %h4 TOPICS OF EDUCATION:
    .row
      .large-4.columns
        %ol
          %li Current test results.
          %li Effects of loud noise on an individual's hearing.
          %li Hearing protection devices available to employees; their advantages and disadvantages; technique for proper selection, fit, use, and care.
      .large-4.columns
        %p
          A complete report will be provided to your company inclusive of the data necessary to evaluate your company's Hearing Conservation program.
        %p
          Your company’s safety representative will be given a verbal briefing prior to our departure informing them of any problems and/or issues.
      .large-4.columns
        %ol
          %lh T&amp;S Mobile Hearing Express will also provide an easy to read overview of your company's Hearing Conservation program with your final report which outlines:
          %li Overall Findings
          %li Conclusions
          %li Recommendations

